<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="centrar" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Progreso de creación</ion-title>
    <ion-progress-bar value="0.7"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top:10px">

    <ion-card-header>
      <ion-item>
        <ion-card-title style="text-align:center;margin-left:50%">Pasos</ion-card-title>
        <ion-icon slot="end" style="display:flex" (click)="displayInfo()" name="information-circle-outline"></ion-icon>
      </ion-item>
      <ion-card-subtitle style="text-align:center">Es el momento de escribir los pasos</ion-card-subtitle>
      
    </ion-card-header>

    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 1</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_1" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>

    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 2</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_2" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>

    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 3</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_3" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 4</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_4" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>

    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 5</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_5" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 6</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_6" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 7</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_7" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 8</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_8" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 9</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_9" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 10</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_10" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 11</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_11" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 12</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_12" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 13</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_13" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 14</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_14" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 15</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_15" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 16</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_16" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 17</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_17" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 18</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_18" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 19</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_19" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
    <ion-item style="height:80px" class="ion-activated">
      <ion-label style="width:20%;">Paso 20</ion-label>
      <ion-item style="width:80%">
        <ion-textarea name="step_20" (ionChange)="setStep($event)" debounce="1000" placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-item>
    
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button (click)="next()" expand="block">Siguiente</ion-button>
</ion-footer>
