<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>  
    <ion-title>Administrar usuarios</ion-title>
    <ion-icon slot="end" style="font-size:17px;margin-right:15px" (click)="logout()" name="log-out-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<app-menu></app-menu>
<ion-content>
  <ion-card *ngFor="let user of users">
    <ion-card-header>
      <ion-card-title>{{user.username}}</ion-card-title>
        <ion-segment (ionChange)="segmentChanged($event,user.id)" color="secondary" value="{{user.deleted}}">
          <ion-segment-button value="0">
            <ion-label>Activo</ion-label>
          </ion-segment-button>
          <ion-segment-button value="1">
            <ion-label>Eliminado</ion-label>
          </ion-segment-button>
        </ion-segment>
    </ion-card-header>
  </ion-card>
</ion-content>
