<app-header titulo="Comunidad"></app-header>

<ion-content [fullscreen]="true">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select interface="popover" style="font-size:17px" (ionChange)="onChange($event)" placeholder="Filtrar recetas ...">
      <ion-select-option class="options" value="Sf">Sin filtro</ion-select-option>
      <ion-select-option class="options" value="News">Mas nuevas</ion-select-option>
      <ion-select-option class="options" value="Comments">Mas comentarios</ion-select-option>
      <ion-select-option class="options" value="Nr">No reportadas</ion-select-option>
      <ion-select-option class="options" value="OrA">Orden alfabetico</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let recipe of recipes" style="margin-top:10px">
    <ion-img (click)="viewRecipe(recipe.id)" src="../assets/images/{{recipe.image}}.jpg"></ion-img>
    <ion-card-header (click)="viewRecipe(recipe.id)" style="margin-top:5px">
      <ion-card-title>{{ recipe.name }}</ion-card-title>
      <ion-card-subtitle style="margin-top:5px">{{ recipe.description }}</ion-card-subtitle>
    </ion-card-header>
    <ion-item >
      <ion-item>
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-label>{{recipe.numero}}</ion-label>
      </ion-item>
      <ion-item slot="end">
        <ion-icon (click)="reportRecipe(recipe.id)" name="thumbs-down"></ion-icon>
      </ion-item>
    </ion-item>
      
  </ion-card>
    
</ion-content>
