<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-articles"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Articulo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="reader-outline"></ion-icon>
        <ion-input style="font-size:15px" (ionChange)="onChangeName($event)" debounce="3000" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input (ionChange)="onChangeCat($event)" debounce="3000" placeholder="Categoria"></ion-input>
      </ion-item>
    </ion-card-header>
    <ion-item>
      <ion-card-content>
        <ion-textarea (ionChange)="onChange($event)" debounce="3000" auto-grow="true" cols="50" placeholder="Texto"></ion-textarea>
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button expand="block" (click)="crear()">Crear</ion-button>
</ion-footer>