<app-header titulo="Artículos"></app-header>

<ion-content [fullscreen]="true">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-item>
    <ion-select interface="popover" style="font-size:17px" (ionChange)="onChange($event)" placeholder="Filtrar por categoría ...">
      <ion-select-option class="options" value="Sf">Sin filtro</ion-select-option>
      <ion-select-option class="options" value="Horneado">Horneado</ion-select-option>
      <ion-select-option class="options" value="Hidratación">Hidratación</ion-select-option>
      <ion-select-option class="options" value="Centeno">Centeno</ion-select-option>
      <ion-select-option class="options" value="Espelta">Espelta</ion-select-option>
      <ion-select-option class="options" value="Kamut">Kamut</ion-select-option>
      <ion-select-option class="options" value="Fermentación">Fermentación</ion-select-option>
      <ion-select-option class="options" value="Amasado">Amasado</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let article of articles" (click)="cardClicked(article.id)">
  <ion-card-header>
  <ion-item>
    <ion-icon slot="start" name="reader-outline"></ion-icon>
    <ion-card-title>{{ article.name }}</ion-card-title> 
  </ion-item>
  </ion-card-header>
    <ion-item>
      <ion-label>{{ article.text }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
